<div ng-controller="AddButtonsController" layout="column" layout-align="center center" layout-fill>
    <md-toolbar class="topbar">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="goBack()">
                <md-icon>arrow_back</md-icon>
            </md-button>
            <h2 flex>
                    <span>{{ 'Add Buttons to ' + (gadget.userRemote?gadget.userRemote.name:gadget.remote.name) }}</span>
                </h2>
        </div>
    </md-toolbar>
    <div flex class="content vertically-scrollable">
        <div ng-repeat="buttonpage in bgroup track by $index" layout="column" style="width:100%;min-height:48px;" layout-align="center center">
            <div ng-repeat="buttonrow in buttonpage track by $index" layout="row" style="width:100%;min-height:48px;" layout-align="center center">
                <div ng-repeat="buttonelem in buttonrow track by $index" ng-click="highlightButton($event,buttonelem)">
                    <md-button aria-label="remote button" class="md-raised minbutton" ng-class="{markforadd:buttonelem.highlight}">
                        <md-icon ng-if="buttonelem.icon">{{buttonelem.icon}}</md-icon>
                        <span ng-if="buttonelem.name">{{buttonelem.name}}</span>
                    </md-button>
                </div>
            </div>
            <md-divider class="pagedivider"></md-divider>
        </div>
    </div>
    <md-toolbar class="bottombar">
        <div layout="row" layout-align="center center" class="md-toolbar-tools minbutton">
            <md-button ng-if="show.count>0" aria-label="add buttons" class="md-raised minbutton" ng-click="addButtons($event)">
                <span>{{name}}</span>
            </md-button>
            <div ng-diabled ng-if="show.count<1" aria-label="hint">
                <span>{{name}}</span>
            </div>
        </div>
    </md-toolbar>
</div>
