<div ng-controller="AddGadgetController" layout="column" layout-align="start center" class="page-height">
    <div layout="column" layout-align="start center" layout-fill>
        <md-toolbar class="topbar">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="goBack()">
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <h1>
                  Add Remote
                </h1>
            </div>
        </md-toolbar>
        <md-content flex class="content vertically-scrollable" layout-padding>
            <form name="projectForm">
                <md-input-container>
                    <label>Brand/Model</label>
                    <input required name="description" ng-model="project.searchText" ng-change="searchTextChange()">
                </md-input-container>
            </form>
            <div layout="column" layout-align="start center">
                <div ng-repeat="remote in remotes" style="width:100%;">
                    <md-button class="minbutton md-raised md-primary" ng-click="selectRemote($index)" style="width:100%;" md-theme="{{palettes[$index%palettes.length]}}" md-theme-watch>
                        {{remote.brand+" "+remote.model}}
                    </md-button>
                </div>
            </div>
            <div ng-if="hint.length>0">{{hint}}</div>
        </md-content>
        <!--md-toolbar class="bottombar">
            <div class="md-toolbar-tools" layout="row" layout-align="center center">
                <md-button aria-label="add remote" ng-disabled="selectedRemote==null" class="minbutton" ng-click="addSelectedRemote($event)">
                    <md-icon>add</md-icon>
                    <span>Add Remote</span>
                </md-button>
            </div>
        </md-toolbar-->
    </div>
</div>
