<div ng-controller="EditButtonController" layout="column" layout-align="center center" md-theme="editTheme" class="page-height">
    <div layout="column" layout-align="center center" layout-fill>
        <md-toolbar class="topbar">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="goBack()">
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <h2>
                <span>Edit Button</span>
            </h2>
                <div flex></div>
            </div>
        </md-toolbar>
        <md-content flex layout="column" layout-align="start center" layout-fill layout-padding class="content">
            <div ng-show="!gadget">
                <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                <h3>loading...</h3>
            </div>
            <div flex ng-show="gadget" layout="column" layout-align="center center">
                <md-button class="md-raised md-primary" aria-label="button display" ng-disabled=true style="min-width:192px;">
                    <md-icon ng-if="buttonelem.icon">{{buttonelem.icon}}</md-icon>
                    <span ng-if="buttonelem.name">{{buttonelem.name}}</span>
                </md-button>
                <md-progress-linear ng-if="buttonelem.learning" md-mode="indeterminate"></md-progress-linear>
                <md-progress-linear ng-if="buttonelem.analyzing" md-mode="indeterminate" md-theme='blue' md-theme-watch></md-progress-linear>
                <div class="md-raised md-primary" layout="row" layout-align="center center">
                    <md-input-container>
                        <md-select aria-label="icon change" ng-model="buttonelem.icon" ng-change="iconChange()">
                            <md-option ng-value="icon.icon" ng-repeat="icon in icons">
                                <md-icon>{{icon.icon}}</md-icon>
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <input ng-model="buttonelem.name" ng-change="nameChange()" type="text" placeholder="Name">
                    </md-input-container>
                </div>
            </div>
            <div>{{hint}}</div>
        </md-content>
        <md-toolbar class="bottombar">
            <div class="md-toolbar-tools" layout="row" layout-align="center center">
                <md-button flex aria-label="save" class="minbutton" ng-show="!(buttonelem.learning || buttonelem.analyzing)" ng-click="deleteButton()">
                    <md-icon>delete</md-icon>
                    <span>Delete</span>
                    <md-tooltip>delete this button</md-tooltip>
                </md-button>
                <md-button flex ng-show="!(buttonelem.learning || buttonelem.analyzing)" aria-label="learn" class="minbutton" ng-click="learn()">
                    <md-icon>hearing</md-icon>
                    <span>Learn</span>
                    <md-tooltip>Learn this button</md-tooltip>
                </md-button>
                <md-button flex ng-show="buttonelem.learning || buttonelem.analyzing" aria-label="learn" class="minbutton" ng-click="learn()">
                    <md-icon>stop</md-icon>
                    <span>Stop</span>
                    <md-tooltip>Stop learning this button</md-tooltip>
                </md-button>
                <md-button flex aria-label="save" class="minbutton" ng-show="!(buttonelem.learning || buttonelem.analyzing) && dirty" ng-click="save()">
                    <md-icon>save</md-icon>
                    <span>Save</span>
                    <md-tooltip>Save and continue editing remote</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
    </div>
</div>
