<div style="width:100%;" flex layout="column" layout-align="center center">
  <div layout="row">
    <md-input-container>
        <label>Brand</label>
        <input name="brand" ng-model="remote.brand" ng-change="valueChanged()">
    </md-input-container>
    <md-input-container>
        <label>Model</label>
        <input name="model" ng-model="remote.model" ng-change="valueChanged()">
    </md-input-container>
  </div>
  <div layout="row">
    <md-input-container>
        <label>Name</label>
        <input name="name" ng-model="remote.name" ng-change="valueChanged()">
    </md-input-container>
    <md-input-container>
        <label>Type</label>
        <input name="type" ng-model="remote.type" ng-change="valueChanged()">
    </md-input-container>
  </div>
</div>
<div style="width:100%;" layout="column" layout-align="center center">
    <div style="width:80%;" ng-repeat="buttonpage in buttongroup track by $index" ng-init="pageIndex=$index" layout="column" layout-align="center center" class="selectablepage" ng-class="{selectedpage:buttonpage.mark}" ng-click="markElement($event,buttonpage,pageIndex);$event.stopPropagation();">
        <div style="width:80%;min-height:48px;" ng-repeat="buttonrow in buttonpage track by $index" layout="column" layout-align="center center" ng-init="rowIndex=$index;" class="selectablerow" ng-class="{selectedrow:buttonrow.mark}" ng-click="markElement($event,buttonrow,pageIndex,rowIndex);$event.stopPropagation();">
            <div layout="row" style="width:80%;">
                <div ng-repeat="buttonelem in buttonrow track by $index" ng-click="markElement($event,buttonelem,pageIndex,rowIndex,buttonIndex);$event.stopPropagation();" ng-init="buttonIndex=$index" layout="row" flex>
                    <md-button flex aria-label="remote button" class="md-raised editbutton" ng-class="{selectedbutton:buttonelem.mark,learningbutton:buttonelem.learning,analyzingbutton:buttonelem.analyzing}">
                        <md-progress-linear ng-show="buttonelem.learning" md-mode="indeterminate"></md-progress-linear>
                        <md-progress-linear ng-show="buttonelem.analyzing" md-mode="indeterminate" md-theme='blue' md-theme-watch></md-progress-linear>
                        <md-icon ng-if="buttonelem.icon">{{buttonelem.icon}}</md-icon>
                        <span ng-if="buttonelem.name">{{buttonelem.name}}</span>
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>
