<div class="page-height" ng-controller="EditGadgetController" md-theme="editTheme">
    <div class="page-height" ng-if="mode.edit" layout="column" layout-fill>
        <md-toolbar class="topbar">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="goBack()">
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <h2 flex style="text-transform: uppercase;">{{ gadget.name ? 'Edit: ' + remote.name : 'Loading... ' }}</h2>
                <md-button ng-show="remote.dirty" class="md-icon-button" ng-click="saveGadget()">
                    <md-icon>save</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div class="vertically-scrollable" flex id="editlayout" md-theme="{{palette}}" md-theme-watch ng-include="'editlayout.html'"></div>
        <div ng-if="mode.move" layout="row" layout-align="center center" layout-fill ng-controller="EditFooterController" style="height: 64px; min-height: 64px; background-color:orangered;">
            <md-button flex layout="row" layout-align="center center" ng-repeat="mvitem in mvitems" style="height:100%;" ng-disabled="!mvitem.show" ng-click="mvitem.func($event)">
                <md-tooltip>{{mvitem.tooltip}}</md-tooltip>
                <md-icon class="s32">{{mvitem.icon}}</md-icon>
            </md-button>
        </div>
        <div ng-if="gadget.name" layout="row" layout-align="center center" layout-fill ng-controller="EditFooterController" style="height: 64px; min-height: 64px; background-color:orangered; border:1px solid white;">
            <md-button flex layout="row" layout-align="center center" ng-repeat="fitem in fitems" style="height:100%;" ng-if="fitem.show" ng-click="fitem.func($event)">
                <md-tooltip>{{fitem.tooltip}}</md-tooltip>
                <md-icon class="s32">{{fitem.icon}}</md-icon>
            </md-button>
        </div>
    </div>
    <div ui-view  layout="column" layout-fill style="height: 100%;"></div>
</div>
