<div ng-controller="IRToolController" class="page-height">
    <div layout="column" layout-align="center center" layout-fill>
        <md-toolbar class="topbar">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="goBack()">
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <h2>
                  <span>IR Tool</span>
                </h2>
            </div>
        </md-toolbar>
        <div flex layout="column" layout-fill class="content md-padding">
            <table>
                <tr><td>Protocol</td><td><input type="text" ng-model="spec.protocol"></td><td><input type="button" ng-disabled="!(local)" ng-click="learn()" value="Learn" /></td></tr>
                <tr><td>Device</td><td><input type="text" ng-model="spec.device"></td></tr>
                <tr><td>Subdevice</td><td><input type="text" ng-model="spec.subdevice"></td></tr>
                <tr><td>OBC</td><td><input type="text" ng-model="spec.obc"></td><!-- </tr>
                <tr><td>&nbsp;</td> --><td>
                    <input type="button" ng-disabled="!(local && spec.protocol && spec.device && spec.obc)" ng-click="prev()" value="&lt;&lt; Prev" />
                    <input type="button" class="md-primary md-raised" ng-disabled="!(local && spec.protocol && spec.device && spec.obc)" ng-click="send()" value="Send" />
                    <input type="button" class="md-primary md-raised" ng-disabled="!(local && spec.protocol && spec.device && spec.obc)" ng-click="next()" value="Next &gt;&gt;" />
                </td></tr>
                <tr><td>Misc</td><td><input type="text" ng-model="spec.misc"></td></tr>
            </table>
            <!-- <br><br>
            Key: <input type="text" ng-model="key">
            <div layout="row" layout-fill>
                <md-button class="md-primary md-raised" ng-disabled="!(local && spec.protocol && spec.device && spec.obc && key)" ng-click="addKey()">Add</md-button>
                <md-button class="md-warn md-raised" ng-click="resetRemote()">Clear All</md-button>
            </div> -->
        </div>
    </div>
</div>
