[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html,
body {
    background-color: #cccccc;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.page-height {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

.vertically-scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    background-color: white;
    width: 100%;
    max-width: 600px;
}

.topbar {
    min-height: 48px;
    height: 48px;
}

.bottombar {
    min-height: 48px;
    height: 48px;
}

.s64 {
    font-size: 64px;
}

.s32 {
    font-size: 32px;
}

.horizontal_center {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.unselectabletag {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

.socialbutton {
    width: 48px;
    height: 48px;
}

.minbutton {
    min-width: 48px;
    min-height: 48px;
}

.maxbutton {
    max-width: 48px;
    max-height: 48px;
}

.buttonsize {
    width: 48px;
    height: 48px;
}

.droptarget {
    background-color: #29e !important;
    border-color: #29e;
    /* #fff */
    border-style: solid;
    border-width: 1px;
}

.markforadd {
    border: 1px solid blue;
}

.md-button {
    min-width: 48px;
}

.selectablerow {
    background-color: #009688;
    margin: 1px;
}

.rowdroptarget {
    background-color: blue;
}

.selectablepage {
    /*background-color: #4caf50;*/
    margin: 1px;
    border: 1px #4caf50 solid;
}

.pagedroptarget {
    background: lightblue;
}

.pagedragtarget {
    background: transparent;
    z-index: 2;
}

.rowdragtarget {
    z-index: 2;
}

.buttondragtarget {
    z-index: 2;
}

.pagedivider {
    border-width: 0;
    height: 3px;
    background-color: green;
}

.selectedbutton {
    /*background: blue !important;*/
    border: 2px blue solid;
}
.selectedrow {
    /*background: blue !important;*/
    border: 2px blue solid;
}
.selectedpage {
    /*background: blue !important;*/
    border: 2px blue solid;
}


/* md-tabs's md-no-bar is not working. this is workaround */

#viewgadget md-tabs-canvas {
    display: none;
}

#viewgadget md-tabs-content-wrapper {
    top: 0px !important;
}

.demobadge {
    position: absolute;
    /*left: 0;*/
    top:  50%;
    background: red;
    color: white;
    font-size:20px;
    margin:2px;
    border-radius: 2px;
    padding:5px;
    font-weight: bold;
    font-style:italic;
}

.horizontal-align {
    margin:auto;
    /*max-width: 600px;*/
}

.learningbutton {
    background-color: lightgreen !important;
}

.analyzinggbutton {
    background-color: yellow !important;
}

.editbutton {
    min-width: 36px;
    min-height: 36px;
    font-size: 12px;
}

.icon-zmote-style {
  color: white;
}

.fw_update {
    text-transform: none;
    font-style: italic;
    color: #dddddd;
}

.notificationbar {
  background-color: lightyellow !important;
  border-color: yellow !important;
}