<md-sidenav class="md-sidenav-right" md-component-id="right" style="background-color:black;">
    <md-content layout-padding style="background-color:black;" layout="column">
    	<md-button class="md-raised md-primary" ><a href="/index.html"><md-icon style="width:100%;">home</md-icon></a></md-button>
        <md-button class="md-raised md-primary" ng-repeat="menuitem in menuitems" ng-click="sidenavClick(menuitem)">{{menuitem.name}}</md-button>
    </md-content>
</md-sidenav>
