<div ng-controller="UpdateWidgetController" id="viewwidget" layout="column" layout-fill layout-align="start center" class="page-height">
    <md-content layout="column" layout-fill style="max-height:100%;overflow:auto;">
        <div ng-include="'sidenav.html'" ng-controller="SidenavController"></div>
        <md-toolbar class="topbar">
            <div class="md-toolbar-tools">
                <h2><span><i class="icon-zmote-logo icon-zmote-style" ></i></span></h2>
                <div flex>
                </div>
                <div ng-controller="SidenavController">
                    <md-button ng-click="toggle()" aria-label="toggle sidemenu">
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
        <div flex layout="column" layout-align="start center" class="content vertically-scrollable">
            <div ng-if="!widget">
                <md-progress-circular ng-if="!widget" class="md-accent" md-mode="indeterminate"></md-progress-circular>
                <h3>Loading...</h3>
            </div>
            <div layout="column" layout-align="left" layout-padding style="width:100%;" ng-if="widget">
                <h3 ng-show="updateState == 'ongoing'">Updating {{widget.name}}</h3>
                <p ng-show="updateState == 'ongoing'">Please wait while we update your <i class="icon-zmote-logo icon-smaller"></i>'s firmware.  This should  typcially take only a few minutes depending on your internet connection.  Please <i>do not refresh</i> this page.</p>
                <div layout="row" layout-align="center">
                <md-progress-circular ng-show="updateState == 'ongoing'" class="md-accent" md-mode="indeterminate">
                    <h3>{{updateMsg}}</h3>
                </md-progress-circular>
                </div>
                <h3 ng-show="updateState == 'finished'">Finished</h3>
                <p ng-show="updateState == 'finished'">Your zmote's   firmware is now up-to-date.</p>
                <md-button style="width:33%;"  class="md-raised" ng-show="updateState == 'finished'" ng-click="finished()">OK</md-button>

                <h3 ng-show="updateState == 'error'">Error</h3>
                <p ng-show="updateState == 'error'">An error occured during the update process.  Please unplug your <i class="icon-zmote-logo icon-smaller"></i>, wait 30 seconds and plug it back in.</p>
                <md-button style="width:33%;"  class="md-raised" ng-show="updateState == 'error'" ng-click="retry()">Try Again</md-button>

                
            </div>
        </div>
    </md-content>
</div>
