<div ng-controller="ViewGadgetController" layout="row" layout-fill layout-align="center start" id="viewgadget" ng-swipe-left="updatePage('next')" ng-swipe-right="updatePage('prev')" class="page-height">
    <md-content layout="column" layout-fill>
        <div ng-include="'sidenav.html'" ng-controller="SidenavController"></div>
        <md-toolbar class="topbar">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="goBack()">
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <h2 flex style="text-transform: uppercase;">{{remote.name}}</h3>
                <a ng-if="enableDownload" href="{{download}}" download="{{downloadName}}">
                    <md-tooltip>download remote</md-tooltip>
                    <md-icon>file_download</md-icon>
                </a>
                <div ng-controller="SidenavController">
                    <md-button ng-click="toggle()" aria-label="toggle sidemenu">
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
        <div flex class="content vertically-scrollable" layout="column" layout-align="center center">
            <div flex ng-if="!gadget.name" style="width:100%;" layout="column" layout-align="center center" md-theme="{{palette}}" md-theme-watch>
                <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                <h3>loading...</h3>
            </div>
            <div flex style="width:100%;" layout="column" layout-align="center center" md-theme="{{palette}}" md-theme-watch ng-include="'viewbuttons.html'">
            </div>
        </div>
        <md-toolbar class="bottombar">
            <div class="md-toolbar-tools">
                <md-button ng-if="showPrevPage" ng-click="updatePage('prev')">
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <div flex></div>
                <md-button ng-if="showNextPage" ng-click="updatePage('next')">
                    <md-icon>arrow_forward</md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </md-content>
</div>
