<md-tabs flex style="width:100%;" layout="column" layout-align="center center" md-selected="data.selectedIndex" md-dynamic-height="false" md-center-tabs="true" md-no-bar="true">
    <md-tab flex style="width:100%;" ng-repeat="buttonpage in buttongroup track by $index" ng-init="pageIndex=$index">
        <md-tab-label>{{$index}}</md-tab-label>
        <md-tab-body>
            <div flex style="width:100%;" layout="column" layout-align="center center">
                <div ng-repeat="buttonrow in buttonpage track by $index" ng-init="rowIndex=$index;" layout="row" style="width:100%;min-height:48px;margin:1px;" layout-align="space-around center">
                    <div ng-repeat="buttonelem in buttonrow track by $index" ng-init="buttonIndex=$index" layout="row" layout-align="center center" flex>
                        <md-button aria-label="remote button" md-theme="{{palettes[rowIndex%palettes.length]}}" class="md-raised minbutton md-primary md-hue-2" md-theme-watch style="height:72px;" flex ng-click="sendCode(buttonelem)" layout="row" layout-align="center center" ng-style="{'background-color':buttonelem.color}" ng-disabled="buttonelem.code.seq.length<=0">
                            <md-icon ng-if="buttonelem.icon">{{buttonelem.icon}}</md-icon>
                            <span ng-if="buttonelem.name">{{buttonelem.name}}</span>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-tab-body>
    </md-tab>
</md-tabs>
