<div ng-controller="ViewWidgetController" id="viewwidget" layout="column" layout-fill layout-align="start center" class="page-height">
    <md-content layout="column" layout-fill style="max-height:100%;overflow:auto;">
        <div ng-include="'sidenav.html'" ng-controller="SidenavController"></div>
        <md-toolbar class="topbar">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="goBack()">
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <h2 flex><i class="icon-zmote-logo icon-zmote-style"></i></h2>
                <div ng-controller="SidenavController">
                    <md-button ng-click="toggle()" aria-label="toggle sidemenu">
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
        <div flex layout="column" layout-align="start center" class="content vertically-scrollable">
            <div ng-if="!widget">
                <md-progress-circular ng-if="!widget" class="md-accent" md-mode="indeterminate"></md-progress-circular>
                <h3>loading...</h3>
            </div>
            <div layout="row" ng-repeat="gadget in widget.gadgets" layout-align="center center" style="width:100%;">
                <md-button flex aria-label="remote button" class="md-raised minbutton md-primary" ng-click="viewGadget($event,gadget)" md-theme="{{palettes[$index%palettes.length]}}" md-theme-watch>
                    <span>{{gadget.userRemote?gadget.userRemote.name:gadget.remote.name}}</span>
                </md-button>
            </div>
            <div layout="row" layout-align="center center" style="width:100%;">
                <md-button ng-if="widget" flex aria-label="add gadget" class="md-raised minbutton" ng-click="addGadget($event)" style="width:100%;max-height:48px;">
                    <md-icon>add</md-icon>
                    <span>add remote</span>
                </md-button>
            </div>
        </div>
    </md-content>
</div>
