<md-content ng-controller="WidgetsController" layout="column" layout-align="center center" class="page-height">
    <md-toolbar class="topbar">
        <div class="md-toolbar-tools">
            <h2>
              <span><i class="icon-zmote-logo icon-zmote-style" ></i></span>
            </h2>
            <div flex></div>
            <div ng-controller="SidenavController">
                <md-button ng-click="toggle()" aria-label="toggle sidemenu">
                    <md-icon>menu</md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <div flex layout="column" layout-align="start center" class="content vertically-scrollable">
        <div ng-include="'sidenav.html'" ng-controller="SidenavController"></div>
        <div ng-if="w.widgets.length<=0 && !nowidgets">
            <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
            <h3>loading...</h3>
        </div>
        <div ng-if="nowidgets" layout="column" layout-align="center center" class="content vertically-scrollable">
            <h3>No zmotes found</h3>
            <div flex layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" href="//www.zmote.io">
                    <md-icon>home</md-icon>
                </md-button>
            </div>
        </div>
        <div layout="row" ng-repeat="widget in w.widgets | filter:{connected:true}" layout-align="center center" style="width:100%;">
            <md-button flex aria-label="remote button" class="md-raised minbutton md-primary" ng-click="gotoWidget($event,widget)" md-theme="{{palettes[$index%palettes.length]}}" md-theme-watch>
                <div layout="column" layout-align="center center">
                    <span>{{widget.name?widget.name:"zmote "+widget.chipID.substr(2)}}</span>
                    <span ng-show="widget.needsUpdate" class="fw_update">(Firmware Update Required)</span>
                </div>
            </md-button>
        </div>
        <div ng-show="w.nNotConnected" layout="row" style="width:100%;">
            <hr flex/><span>Not Connected</span>
            <hr flex/>
        </div>
        <div layout="row" ng-repeat="widget in w.widgets | filter:{connected:false}" layout-align="center center" style="width:100%;">
            <md-button flex aria-label="remote button" class="md-raised minbutton md-primary" ng-click="gotoWidget($event,widget)" md-theme="grey">
                <div layout="column" layout-align="center center">
                    <span>{{widget.name?widget.name:"zmote "+widget.chipID.substr(2)}}</span>
                </div>
            </md-button>
        </div>
        <md-button aria-label="Refresh zmotes" class="md-raised minbutton md-primary" ng-click="refresh()">
            <md-tooltip>Refresh</md-tooltip>
            <md-icon>refresh</md-icon>
        </md-button>
    </div>
</md-content>
