<div ng-controller="ZMoteConfigureController" style="overflow:auto;max-height:100%;">
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="goBack()">
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <h2>
                  <span>Configuration</span>
                </h2>
            </div>
        </md-toolbar>
        <md-toolbar class="md-warn" ng-show="error">
            <div class="md-toolbar-tools">
                <span>{{error}}</span>
                <!-- <span flex></span>
                <md-button class="md-icon-button" ng-click="searchAgain()">
                    <md-icon>refresh</md-icon>
                </md-button> -->
            </div>
        </md-toolbar>
        <div layout="column">
            <md-content class="md-padding">
                <form name="configNameForm">
                    <md-input-container>
                        <label>Name</label>
                        <input name="name" ng-model="name" ng-disabled="!local">
                    </md-input-container>
                    <div layout="row">
                        <div flex></div>
                        <md-button class="md-primary md-raised" ng-disabled="!(local && configNameForm.name.$dirty)" ng-click="saveName()">Save</md-button>
                    </div>
                </form>
                <form name="configWifiForm">
                    <md-input-container>
                        <label>Wi-Fi Network</label>
                        <input ng-model="ssid" ng-disabled="!local">
                    </md-input-container>
                    <div ng-repeat="network in networks | orderBy:'-rssi'">
                        <md-button class="md-primarydd" ng-click="selectNetwork('{{network.ssid}}')">{{network.ssid}}</md-button>
                    </div>
                    <md-input-container>
                        <label>Wi-Fi Password</label>
                        <input name="password" type="password" ng-model="password" ng-disabled="!local">
                    </md-input-container>
                    <div layout="row">
                        <div flex></div>
                        <md-button class="md-primary md-raised" ng-disabled="!(local && configWifiForm.password.$dirty)" ng-click="saveWifi()">Connect</md-button>
                    </div>
                </form>
            </md-content>
        </div>
    </md-content>
</div>
