<!DOCTYPE html>
<html>

<head>
    <!-- General META -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">
    <title>zmote - Wi-Fi Universal Remote</title>
    <style type="text/css">
    @-moz-keyframes three-quarters-loader {
        0% {
            -moz-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -moz-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes three-quarters-loader {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes three-quarters-loader {
        0% {
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    /* :not(:required) hides this rule from IE9 and below */

    .three-quarters-loader:not(:required) {
        -moz-animation: three-quarters-loader 1250ms infinite linear;
        -webkit-animation: three-quarters-loader 1250ms infinite linear;
        animation: three-quarters-loader 1250ms infinite linear;
        border: 3px solid #3f51b5;
        border-right-color: transparent;
        border-radius: 20px;
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        overflow: hidden;
        text-indent: -9999px;
        width: 40px;
        height: 40px;
    }

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #3f51b5;
        text-align: center;
    }

    .icon-smaller {
        font-size: 60%;
    }

    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
        display: none !important;
    }
    </style>
</head>

<body class="page-height">
    <div class="page-height horizontal-align" ng-app="zMoteWidgetApp" layout="column" layout-fill layout-align="start center">
        <div class="page-height content md-whiteframe-z2" flex ng-view>
            <div class="spinner">
                <div class="three-quarters-loader"></div>
                <br/>
                <br/>
                <br/>Loading...
            </div>
            <div ng-controller="ZMoteConfigureController" style="overflow:auto;max-height:100%;">
                <md-content class="ng-cloak">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>
                  <span>Setup zmote</span>
                </h2>
                        </div>
                    </md-toolbar>
                    <md-toolbar class="md-warn" ng-show="error">
                        <div class="md-toolbar-tools">
                            <span>{{error}}</span>
                        </div>
                    </md-toolbar>
                    <div layout="column">
                        <md-content class="md-padding" ng-hide="connected">
                            <p>Before you can use this zmote, you must first connect it to your home Wi-Fi network. Choose from the available networks below and enter it's password.</p>
                        </md-content>
                        <md-content class="md-padding">
                            <form name="configNameForm">
                                <md-input-container>
                                    <label>Name</label>
                                    <input name="name" ng-model="name">
                                </md-input-container>
                                <div layout="row">
                                    <div flex></div>
                                    <md-button class="md-primary md-raised" ng-disabled="!(configNameForm.name.$dirty)" ng-click="saveName()">Save</md-button>
                                </div>
                            </form>
                            <form name="configWifiForm" layout="column" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;">
                                <h4>Available Wi-Fi Networks</h4>
                                <md-whiteframe class="md-whiteframe-z4" layout layout-align="left center" ng-repeat="network in networks | orderBy:'-rssi'" ng-click="selectNetwork(network)">
                                    <b>{{network.ssid}}</b>
                                    <div layout="column" layout-wrap layout-fill ng-show="network.show">
                                        <md-input-container>
                                            <label>Wi-Fi Password</label>
                                            <input name="password" type="password" ng-model="network.password">
                                        </md-input-container>
                                        <md-button class="md-primary md-raised" ng-click="saveWifi(network)">Connect</md-button>
                                    </div>
                                </md-whiteframe>
                            </form>
                        </md-content>
                    </div>
                </md-content>
            </div>
        </div>
        <!-- Angular Material CSS now available via Google CDN; version 0.10 used here -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <!-- build:css combined.css -->
        <link rel="stylesheet" href="../main.css">
        <link rel="stylesheet" href="../demobadge.css">
        <!-- endbuild -->
        <!-- Angular Material Dependencies -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-aria.min.js"></script>
        <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
        <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
        <!-- build:js combined.js -->
        <script src="app.js"></script>
        <script src="zmoteconfigure-controller.js"></script>
        <!-- endbuild -->
        <!-- This line is *required* for gulp widget-files to work. -->
        <!--                DO NOT REMOVE                           -->
        <!-- INSERT TEMPLATES HERE -->
    </div>
</body>

</html>
