<md-content layout="column" layout-align="center center" class="page-height">
    <md-toolbar class="topbar">
        <div class="md-toolbar-tools">
            <h2>
              <span><i class="icon-zmote-logo icon-zmote-style" ></i></span>
            </h2>
            <div flex></div>
        </div>
    </md-toolbar>
    <div flex layout="column" layout-align="center center" class="content vertically-scrollable">
        <h3>No zMotes found.</h3>
        <div flex layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" href="//www.zmote.io">
                <span>home</span>
            </md-button>
            <md-button class="md-raised md-primary" href="http://www.instructables.com/id/Setting-up-the-zmote">Configure</md-button>
            <md-button class="md-raised md-primary" href="http://www.zmote.io/app/#/demo">Demo</md-button>
            <md-button class="md-raised md-primary" href="https://www.tindie.com/products/harik/zmote-wireless-universal-remote/">Buy</md-button>
        </div>
    </div>
</md-content>
