@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?u1gfh2');
	src:url('../fonts/icomoon.eot?#iefixu1gfh2') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?u1gfh2') format('truetype'),
		url('../fonts/icomoon.woff?u1gfh2') format('woff'),
		url('../fonts/icomoon.svg?u1gfh2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-zmote-logo:before {
	content: "\e600";
}
.icon-circuit-board:before {
	content: "\f0d6";
}
.icon-database:before {
	content: "\f096";
}
.icon-device-desktop:before {
	content: "\f27c";
}
.icon-device-mobile:before {
	content: "\f038";
}
.icon-radio-tower:before {
	content: "\f030";
}
.icon-rocket:before {
	content: "\f033";
}
.icon-rss:before {
	content: "\f034";
}
.icon-tools:before {
	content: "\f031";
}
.icon-versions:before {
	content: "\f064";
}
.icon-zap:before {
	content: "\26a1";
}
.icon-connection:before {
	content: "\e607";
}
.icon-power-cord:before {
	content: "\e601";
}
.icon-facebook3:before {
	content: "\e602";
}
.icon-twitter3:before {
	content: "\e603";
}
.icon-github:before {
	content: "\e604";
}
.icon-tv:before {
	content: "\e605";
}
.icon-settings:before {
	content: "\e608";
}
.icon-world:before {
	content: "\e606";
}
