/*@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	background-color: #efefef;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	margin:0;
}


header{
    box-sizing: border-box;
	text-align: center;
    width: 100%;
    padding: 10px; /*25px 40px*/
    background-color: #673AB7;
    overflow: hidden;
}


header h1{
    float: left;
	font: normal 24px/1.5 'Open Sans', sans-serif;
	color: #fff;
}

header a{
    color:#fff;
    float: right;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color:#F05283;

}

ul {
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 75px;
}

ul a{
    text-decoration: none;
    color: #FFF;
    text-align: left;
    background-color: #BCB8C2;
    padding: 10px 16px;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;

    transition: 0.2s ease;
}

ul li a.active{
    background-color: #F05283;
    pointer-events: none;
}

ul li a:hover {
    opacity: 1;
}


ul li{
    display: inline-block;
}


@media (max-width: 1000px) {


    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }

}

.main-content{
    margin-bottom: 75px;
}

/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}

/* -- Link to Tutorialzine -- */

.tz-link{
	text-decoration: none;
	color: #fff !important;
	font: bold 36px Arial,Helvetica,sans-serif !important;
}

.tz-link span{
	color: #da431c;
}

html{
    background-color: #f3f3f3;
}

.form-mini-container{
    max-width: 315px;
    margin: 0 auto;
    font: normal 14px sans-serif;
    text-align: center;
    color: #5f5f5f;
}

.form-mini-container h1{
    color:  #4c565e;
    font-size: 24px;
    padding-bottom: 30px;
    border-bottom: 2px solid #6caee0;
    font-weight: bold;
    margin: 0;
}

.form-mini{
    box-sizing: border-box;
    padding: 1px; /*padding: 40px;*/

    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.form-mini .form-row{
    display: block;
    text-align: left;
    margin-bottom: 23px;
}

.form-mini input,
.form-mini select{
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-mini input[type=radio],
.form-mini input[type=checkbox]{
    box-shadow: none;
    width: auto;
}

.form-mini select{
    color: inherit;
    background-color: #ffffff;
}

.form-mini .form-checkbox span{
    margin-left: 5px;
}

.form-mini .form-checkbox input{
    width: auto;
}

.form-mini .form-radio-buttons > div{
    margin-bottom: 10px;
}

.form-mini .form-radio-buttons input{
    width: auto;
}

.form-mini .form-radio-buttons label span{
    margin-left: 8px;
}

.form-mini .form-last-row{
    margin: 35px auto 0;
}

.form-mini button{
    display: block;
    border-radius: 2px;
    background-color:  #1976D2;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 14px 22px;
    border: 0;
    cursor: pointer;
    margin: 2px;
}


/* Placeholder color */

.form-mini ::-webkit-input-placeholder {
    color:  #999;
}

.form-mini ::-moz-placeholder {
    color:  #999;
    opacity: 1;
}

.form-mini :-ms-input-placeholder {
    color:  #999;
}

/*  Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

@media (max-width: 600px) {

    .form-mini-container{
        margin-top: 0;
    }

}