            <!-- content-11  -->
            <section class="content-11">
                <div class="container">
                    <span>Write to us at <a target="_blank" href="mailto:zmote@klarsys.com?subject=zmote+enquiry">zmote@klarsys.com</a> for trade enquiries</span>
                </div>
            </section>

            <!-- footer-3 -->
            <footer class="footer-3">
                <div class="container">
                    <div class="row v-center">
                        <div class="col-sm-2">
                            <!--<a class="brand" href="#">
                                <i class="icon-zmote-logo icon-smaller"></i>
                            </a>-->
                             <div style="font-size: 200%;">
                                <!--<a href="https://github.com/zmoteio"><i class="icon-github"></i></a>-->
                    <a href="https://www.facebook.com/zmoteio"><i class="icon-facebook3"></i></a>
                    <a href="https://twitter.com/zmoteio"><i class="icon-twitter3"></i></a>
                </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="additional-links">
                                Be sure to take a look to our <a href="tos.html">Terms of Use</a> and <a href="privacy.html">Privacy Policy</a>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h6>Klar Systems Private Limited</h6>
                            <div class="address">
                                793, Ranka Heights, 7th Cross, Domlur,<br/>
                                Bangalore 560071, India<br/>
                                <br/>
                                <a target="_blank" href="mailto:zmote@klarsys.com?subject=about+zmote">zmote@klarsys.com</a><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <!-- build:js js/combined.js -->
        <script src="common-files/js/jquery-1.10.2.min.js"></script>
        <script src="flat-ui/js/bootstrap.min.js"></script>
        <script src="common-files/js/modernizr.custom.js"></script>
        <script src="common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script src="common-files/js/jquery.parallax.min.js"></script>
        <script src="common-files/js/startup-kit.js"></script>
        <script src="js/jquery.backgroundvideo.min.js"></script>
        <script src="js/script.js"></script>
        <!-- endbuild -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-67790541-1', 'auto');
          ga('send', 'pageview');

        </script>

    </body>
</html>
