<!-- @include templates/header.html -->
<section class="header-10-sub v-center bg-midnight-blue">
    <div class="background">
        &nbsp;
    </div>
    <div>
        <div style="position:absolute;right:20px;top:0;text-align:left;">
            <div style="font-size:200%;">
                <a style="color:white;" href="https://www.facebook.com/zmoteio"><i class="icon-facebook3"></i></a>
                <a style="color:white;" href="https://twitter.com/zmoteio"><i class="icon-twitter3"></i></a>
            </div>
        </div>
        <div class="container">
            <div class="hero-unit">
                <h1>Control your gadgets from your phone!</h1>
            </div>
        </div>
    </div>
    <a class="control-btn fui-arrow-down" href="#"> </a>
</section>
<section class="header-10-sub v-center bg-sepia">
    <div class="background bgclutter">
        &nbsp;
    </div>
    <div>
        <div class="container">
            <div class="hero-unit">
                <h1>It's time we got rid of all those remotes</h1>
            </div>
        </div>
    </div>
    <a class="control-btn fui-arrow-down" href="#"> </a>
</section>
<section class="header-10-sub v-center bg-midnight-blue">
    <div class="background zmote">
        &nbsp;
    </div>
    <div>
        <div class="container">
            <div class="hero-unit">
                <h1><br/><br/>... and switch to zmote<br/><br/>Wi-Fi enabled Universal Remote</h1>
            </div>
        </div>
    </div>
    <a class="control-btn fui-arrow-down" href="#"> </a>
</section>
<section class="content-23  v-center bg-midnight-blue">
    <div id="bgVideo" class="background"></div>
    <div>
        <div class="container">
            <div class="hero-unit">
                <h1><i class="icon-zmote-logo icon-smaller"></i> in Action<br/><br/><br/><br/><br/></h1>
            </div>
        </div>
    </div>
    <a class="control-btn fui-arrow-down" href="#"> </a>
</section>
<section class="header-10-sub v-center bg-midnight-blue">
    <div class="background lroombg">
        &nbsp;
    </div>
    <div class="container">
        <div class="hero-unit hero-unit-bordered">
            <a href="/app/#/demo"><h1>Take a Tour</h1></a>
            <p style="color:white; text-shadow: 2px 2px 8px #000; font-size:24px;">
                <br/>The demo app lets you get a feel for how <i class="icon-zmote-logo icon-smaller"></i> works</p>
        </div>
    </div>
    <a class="control-btn fui-arrow-down" href="#"> </a>
</section>
<!-- content-8  -->
<!--
<section class="content-8 v-center">
    <div>
        <div class="container">
            <a href="https://www.tindie.com/products/harik/zmote-wireless-universal-remote/"><img src="https://d2ss6ovg47m0r5.cloudfront.net/badges/tindie-larges.png" alt="I sell on Tindie" width="200" height="104"></a>
            And
            <a href="http://stores.ebay.in/TheGadgetMatrix"><img src="http://pics.ebaystatic.com/aw/pics/api/ebay_market_182x76.gif" alt="right now on ebay" width="200" height="104"></a>
            <h3>On Sale! Around the World.</h3>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p>This is no kickstarter campaign!
                        <br/><i class="icon-zmote-logo icon-smaller"></i> is available today to<a href="https://www.tindie.com/products/harik/zmote-wireless-universal-remote/"> Buy Worldwide</a> or <a href="http://stores.ebay.in/TheGadgetMatrix">Buy in India</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!-- content-7  -->
<section class="content-7 v-center">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4 style="width:100%;"><i class="icon-connection icon-label"></i></h4>
                    <h4>We Have You Covered</h4>
                    <p><i class="icon-zmote-logo icon-smaller"></i> connects to your home Wi-Fi network and lets you control all your remote-controlled devices through a browser on your phone, tablet or PC.</p>
                    <p>There are no apps to install, no accounts to create and no passwords to remember. You don't even need to tell us your name or email. It simply works!</p>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-offset-1">
                        <h4 style="width:100%;"><i class="icon-tools icon-label"></i></h4>
                        <h4>Setup in under 5 minutes</h4>
                        <ul>
                            <li>Place your <i class="icon-zmote-logo icon-smaller"></i> anywhere in your living room.</li>
                            <li>Power it using any micro USB charger.</li>
                            <li>Join it to your home Wi-Fi network using your phone, tablet or PC.</li>
                        </ul>
                        <p>Your <i class="icon-zmote-logo icon-smaller"></i> will appear at <a href="/">zmote.io</a> ready to use.</p>
                        <p>Here are some <a target="_blank" href="http://www.instructables.com/id/Setting-up-the-zmote">detailed step-by-step instructions</a> with pictures.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4 style="width:100%;"><i class="icon-database icon-label"></i></h4>
                    <h4>3000+ devices in our database</h4>
                    <p>We started with the world's largest crowd-sourced remote controller database: the <a href="http://www.lirc.org/">LIRC project</a>.</p>
                    <p>We are adding to it from every other source we can find. Chances are most devices you own are already on it. Try our <a href="/app/#/demo">demo app</a> for a quick check.</p>
                    <p>Should you not find your device on our database, <i class="icon-zmote-logo icon-smaller"></i> can learn from your existing remote.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<section class="content-7 v-center">
    <div>
        <div class="container">
            <h3>It's open-source all the way down!</h3>
            <div class="row">
                <div class="col-sm-4">
                    <p>The <a href="https://github.com/zmoteio/zmote-firmware">software</a> that runs <i class="icon-zmote-logo icon-smaller"></i> is open-source.</p>
                    <p>So is its <a href="https://github.com/zmoteio/zmote-pcb">hardware</a>, its <a href="https://github.com/zmoteio/zmote-frontend">front-end</a>, its <a href="https://github.com/zmoteio/zmote-server">back-end</a> and even its <a href="https://github.com/zmoteio/zmote-id">enclosure</a>.</p>
                    <p>You are welcome to use our building blocks in your next project, or build your very own from scratch, or buy one from us and turn it to your own ends. Reach out to us on <a href="https://www.facebook.com/zmoteio">facebook</a> or <a href="https://gitter.im/zmoteio">gitter</a>: we'd be delighted to help.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div style="position: relative; width: 100%; height: 0px; padding-bottom: 90%;">
                        <iframe src="/threejs" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden;" frameBorder="0" scrolling="no" seamless="seamless">Browser not compatible.</iframe>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <p><i class="icon-zmote-logo icon-smaller"></i> uses the explosively popular <a href="https://www.sparkfun.com/products/13678">ESP8266 Wi-Fi module</a> that is all the rage in the DIY IoT community.</p>
                        <p>We built our server and app using the <a href="http://meanjs.org/">MEAN stack</a>.</p>
                        <p>For our MQTT broker, we use <a href="http://www.mosca.io/">Mosca</a>.</p>
                        <h6>See the <a href="https://drive.google.com/file/d/0B_FfgM63l9REM0h1b3RCREpZMlU/view?usp=sharing">full list of components</a>.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!-- @include templates/footer.html -->
