<!-- @include templates/header.html -->
            <section class="content-7"><div style="text-align:left; margin-left: 15px;">
<h1>Terms of Service ("Terms")</h1>
<p>Last updated: September 24, 2015</p>

<p>Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the http://www.zmote.io website (the "Service") operated by Klar Systems Private Limited ("us", "we", or "our").</p>

<p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

<p><strong>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</strong></p>





<p><strong>Accounts</strong></p>

<p>When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>

<p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>

<p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>




<p><strong>Links To Other Web Sites</strong></p>

<p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Klar Systems Private Limited.</p>

<p>Klar Systems Private Limited has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Klar Systems Private Limited shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>

<p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>

<p><strong>Termination</strong></p>

<p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

<p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>

<p><strong>Warranty Disclaimer and Limitation of Liability</strong></p>

<p>Our Service is provided to you an "as is" basis, without warranty of any kind. We hereby expressly disclaim all warranties or conditions, either express or
implied, including, but not limited to, the implied warranties or conditions of
merchantability and fitness for a particular purpose. You are solely responsible for
determining the appropriateness of using this Service and assume all risks
associated with the use of this Service, including but not limited to the risks of
program errors, damage to or loss of data or equipment. We will not be liable for any direct
damages or for any special, incidental, or indirect damages or for any economic
consequential damages (including lost profits or savings), even if we have been
advised of the possibility of such damages.</p>

<p><strong>Governing Law</strong></p>

<p>These Terms shall be governed and construed in accordance with the laws of Karnataka, India, without regard to its conflict of law provisions.</p>

<p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>

<p><strong>Changes</strong></p>

<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

<p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>

<p><strong>Contact Us</strong></p>

<p>If you have any questions about these Terms, please contact us.</p>
                </div>
            </section>
<!-- @include templates/footer.html -->
